$myfont: lcd;
$mybrandcolor1: #013159;
$mybrandcolor2:#ff7200;

body {
    background-color: white;
}

div#video {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    
}

div#weprovide {
    font-size: 50px;
    transform: scale(1);
    transform: translate(0%, 40%);
    text-shadow: 2px 2px 2px $mybrandcolor1;
}

div button#buttons {
    background-color: $mybrandcolor1;
}

#carouselcontrols {
    background-color: $mybrandcolor1;
}


#textbrand {
    color: $mybrandcolor2;
}

div#brand {
    color: $mybrandcolor1;
}

#login {
    color: $mybrandcolor1;
}